@font-face {
    font-family: "./21592_Kidprint.ttf";
    src: url("./21592_Kidprint.ttf");
}

.navbar {
    background: url("./Stars-Pattern.jpg");
    background-repeat: repeat;
    background-size: 150px;
    height: 100px;
    position: fixed;
}

.title {
    color: white;
    margin: auto;
    text-align: center;
    font-family: "./21592_Kidprint.ttf";
    font-size: 25px;
}

.settings {
    height: 35px;
    margin-bottom: 25px;
}

.logo {
    float: right;
    height: 60px;
    margin-bottom: 25px;
}