.wrapper {
    background: rgba(255, 255, 255, 0);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: visible;
    min-height: calc(100vh - 175px);
    margin: 100px auto 0;
    width: 100%;
}