.wrapper {
    padding-top: 50px;
    background: rgba(255, 255, 255, 0);
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: visible;
    min-height: calc(100vh - 200px);
    margin: 105px auto;
    width: 100%;
}
  