.header {
    display: block;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
    min-height: 70px;
    background: url("./Stars-background.jpg");
    background-repeat: repeat;
    font-weight: bolder;
    padding: 20px;
    font-family: sans-serif;
    z-index: 999;
}

.planet-title {
    float: left;
    font-size: 25px;
}

.instructions {
    padding-top: 10px;
    font-size: 20px;
}

.scores {
    float: right;
    font-size: 25px;
}