@font-face {
    font-family: "./Smile-ICG-Medium.ttf";
    src: url("./Smile-ICG-Medium.ttf");
}

.text {
    padding: 40px 0;
    font-family: "./Smile-ICG-Medium.ttf";
    font-weight: 600;
    color: black;
    text-shadow: 0 3px 6px rgb(247, 240, 204);
    font-size: 45px;
    text-align: center;
    line-height: 45px;
    margin: auto;
    float: left;
    position: absolute;
    width: 175px;
    height: 175px;
    z-index: 999;
}

.card {
    cursor: pointer;
    background: rgb(247, 240, 204);
    border-radius: 10px;
    height: 175px;
    margin: 20px;
    position: relative;
    width: 175px;
    box-shadow: 0 3px 6px black, 0 3px 6px black;
    float: left;
    padding: 0px;
    overflow: hidden;
}
  
.card > .img-container {
    width: 175px;
    height: 175px;
    margin: auto;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
}

.card > .txt-container {
    width: 100%;
    margin: auto;
    position: absolute;
}

.card > .img-container > img {
    height: 180px;
    width: 180px;
    justify-content: center;
    overflow: hidden;
}

.card:hover {
    box-shadow: 0 10px 13px black, 0 10px 13px black;
}
