@font-face {
    font-family: "./Smile-ICG-Medium.ttf";
    src: url("./Smile-ICG-Medium.ttf");
}

h2 {
    font-family: "./Smile-ICG-Medium.ttf";
    margin: 5px auto;
}

.imageofday {
    height: 200px;
    margin: auto;
}

.imageofdaytitle {
    margin: 0 auto 10px;
}
