@font-face {
    font-family: "./Smile-ICG-Medium.ttf";
    src: url("./Smile-ICG-Medium.ttf");

}

h1 {
    font-family: "./Smile-ICG-Medium.ttf";
}

.imageofday {
    height: 200px;
    margin: 125px auto 10px;
}