@font-face {
    font-family: "./21592_Kidprint.ttf";
    src: url("./21592_Kidprint.ttf");
}

.footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    background: rgb(11, 61, 145);
    padding: 5px;
    height: 75px;
    color: white;
    font-family: "./21592_Kidprint.ttf";
    font-size: 45px;
    text-align: center;
    clear: both;
}