.card {
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
    height: 150px;
    margin: 10px;
    margin-top: 4rem;
    position: relative;
    width: 150px;
    box-shadow: 0 3px 6px black, 0 3px 6px black;
}
  
.card > .img-container {
    height: 100%;
    overflow: hidden;
}

.card > .img-container > img {
    width: 100%;
}

.card:hover {
    box-shadow: 0 10px 13px black, 0 10px 13px black;
}