.card {
    cursor: pointer;
    background: #fff;
    border-radius: 10px;
    height: 200px;
    margin: 35px;
    position: relative;
    width: 200px;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
}
  
.card > .img-container {
    height: 100%;
    margin: auto;
}

.card > .img-container > img {
    width: 100%;
    margin-top: 16px;
}

.card:hover {
    box-shadow: 0 10px 13px #999, 0 10px 13px #999;
}